body {
  font-family: 'Lato', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.heading {
  font-weight: bold;
  font-size: 72px;
  line-height: 1.19;
  text-transform: uppercase;
}
.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.19;
}
.sub_title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.22;
}
.plain_text {
  font-size: 14px;
  line-height: 1.43;
}
input {

}
select{

}
.main_button{
  width: 160px;
  height: 60px;
  border: none;
  border-radius: 6px;
  background: #ed4c5c;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.main_button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #d62739;
}
.main_button:hover {
  background-color: #d62739;
}
/* .main_button:active {
  background-color: ;
} */
/* .main_button:focus {
  box-shadow: #d62739;
} */
/* временный css */
.video_promo {
  width: 540px;
  height: 311px;
}
.header {
  background-color: rgb(170, 37, 99);
}
.saving_money {
  background-color: #ed4c5c;
}
iframe {
  width: 540px;
  height: 378px;
}