body {
  font-family: 'Lato', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
ol,
ul {
  margin: 0;
  padding: 0; 
  list-style-type: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
figure {
  margin: 0;
}
a {
  text-decoration: none;
}
.contener {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}
.col_1 {
  width: 8.33333%;
}
.col_2 {
  width: 16.66666%;
}
.col_3 {
  width: 25%
}
.col_4 {
  width: 33.33333%;
}
.col_5 {
  width: 41.66666%;
}
.col_6 {
  width: 50%;
}
.col_7 {
  width: 58.33333%;
}
.col_8 {
  width: 66.66666%;
}
.col_9 {
  width: 75%;
}
.col_10 {
  width: 83.33333%;
}
.col_11 {
  width: 91.66666%;
}
.offset_1 {
  margin-left: 8.33333%;
}
.offset_2 {
  margin-left: 16.66666%;
}
.offset_3 {
  margin-left: 25%
}
.offset_4 {
  margin-left: 33.33333%;
}
.offset_5 {
  margin-left: 41.66666%;
}
.offset_6 {
  margin-left: 50%;
}
.offset_7 {
  margin-left: 58.33333%;
}
.offset_8 {
  margin-left: 66.66666%;
}
.offset_9 {
  margin-left: 75%;
}
.offset_10 {
  margin-left: 83.33333%;
}
.offset_11 {
  margin-left: 91.66666%;
}
.heading_text {
  font-weight: bold;
  font-size: 72px;
  line-height: 1.19;
  letter-spacing: 0.05em;
}
.sub_heading_text {
  font-size: 24px;
  line-height: 1.5;
}
.title_text {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.19;
}
.sub_title_text {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.22;
}
.plain_text {
  font-size: 16px;
  line-height: 1.19;
}
.plain_text_big {
  font-size: 16px;
  line-height: 1.37;
}
.wite_focus:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.507);
  border-radius: 6px;
}
.color_focus:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ed4c5c;
  border-radius: 6px;
}
.sub_plain_text {
  font-size: 14px;
  line-height: 1.21;
}
.sub_pain_tiny_text {
  font-size: 12px;
  line-height: 1.5;
}
.text_center {
  text-align: center;
}
.text_right {
  text-align: right;
}
.text_left {
  text-align: left;
}
.text_white {
  color: white;
}
.text_uppercase {
text-transform: uppercase;
}
.text_capitalize {
  text-transform: capitalize;
}
.text_justify {
  text-align: justify;
}
.page_header {
  position: absolute;
  left: 0;
  right: 0;
}
.logo_link {
  display: block;
  padding: 20px 10px;
  margin-top: 20px;
  margin-right: 60px;
}
.nav_bar_list_item {
  display: inline-block;
}
.nav_bar_list_link {
  display: block;
  padding: 20px 10px;
  margin-top: 30px;

}
.link_buttom_primary {
  display: block;
  border:  1px solid white;
  border-radius: 6px;
  padding: 11px 28px;
  margin-top: 38px;
  margin-left: 60px;
}
.link_buttom_primary:hover {
  background-color: rgba(255, 255, 255, 0.137);
}
.link_buttom_primary:active {
  background-color: rgba(255, 255, 255, 0.274);
}
.hero_section {
  background: url(../images/bg_for_header.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 250px;
  padding-bottom: 180px;
}
.hero_heading {
  padding-top: 20px;
  padding-bottom: 20px;
}
.hero_slogan {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.link_buttom_bonus {
  display: block;
  width: 100%;
  height: 60px;
  color: #ed4c5c;
  background-color: white;
  border-radius: 6px;
  padding: 20px 50px;
}
.link_buttom_bonus:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.507);
}
.link_buttom_bonus:hover {
  outline: none;
  background-color: rgb(255, 225, 228);
}
.link_buttom_bonus:active {
  background-color: rgb(252, 184, 191);
}
.title_video_container {
  padding-top: 140px;
  padding-bottom: 56px;
}
.text_video_container {
  padding-bottom: 102px;
}
.video_container {
  padding-top: 95px;
  padding-bottom: 95px;
}
/* hieght ломает tabindex при уменьшении
ширины экрана. Можно убрать, тогда с tabindex
все ок, а с превью не очень. Надо подумать */
.video {
  width: 100%;
  height: 310px;
  border-radius: 15px;
}
.video:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ed4c5c;
  border-radius: 15px;
}
.page_colored {
  background-color: #ed4c5c;
}
.main_input {
  display: block;
  width: 100%;
  height: 60px;
  background-color: white;
  border: 1px solid #333;
  border-radius: 6px;
  padding-left: 31px;
  padding-right: 31px;
  margin-bottom: 24px;
}
.main_select {
  display: block;
  width: 100%;
  height: 60px;
  background-color: white;
  border: 1px solid #333;
  border-radius: 6px;
  padding-left: 31px;
  padding-right: 31px;
  margin-bottom: 27px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/questionable/arrow.svg) 97% center no-repeat !important;
}
.main_input:focus
.main_select:focus {
  outline: none;
  box-shadow: 0 0 0 3px black;
}
.main_button {
  padding: 22px 35px;
  border-radius: 6px;
  background: #ed4c5c;
}
.main_button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #9c1c29;
}
.main_button:hover {
  background-color: #d62739;
}
.main_button:active {
  background-color: #eb1228;
}
/* не забыть удалить после завершения проекта */
.temperary {
  padding-bottom: 300px;
}