@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.woff?9g2biz') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apple_appstore:before {
  content: "\e904";
}
.icon-google_playstore:before {
  content: "\e905";
}
.icon-icon_windows:before {
  content: "\e906";
}
.icon-arrow:before {
  content: "\e907";
}
.icon-logo_all:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-linkedin:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e90b";
}
.icon-cloud:before {
  content: "\e900";
}
.icon-csv_dowload:before {
  content: "\e901";
}
.icon-pdf_dowload:before {
  content: "\e902";
}
.icon-secure:before {
  content: "\e903";
}
.icon-play:before {
  content: "\ea1c";
}
